/Virtual Boys 2013/WindowsGame1/WindowsGame1/WindowsGame1Content/obj
/Virtual Boys 2013/WindowsGame1/WindowsGame1/WindowsGame1Content/bin
/Virtual Boys 2013/WindowsGame1/WindowsGame1/WindowsGame1/obj
/Virtual Boys 2013/WindowsGame1/WindowsGame1/WindowsGame1/bin
/Virtual Boys 2013/WindowsGame1/WindowsGame1/WindowsGame1/*.cachefile
